<div class="bar bar-header">
  <div class="make-left">
  	<button class="button button-icon icon btngroup last"  onclick="prepareInterstitial();" ui-sref="themes" ui-sref-opts="{reload: true}"><img src="img/btn-themes.png"></button>
  </div>
  <div class="make-center">
  	<button class="button button-icon icon btngroup" onclick="prepareInterstitial();"  ui-sref="screenplay" ui-sref-opts="{reload: true}"><img src="img/gameplay.png"></button>  
  </div>
  <div class="make-right">
  	<button class="button button-icon icon btngroup last"  onclick="prepareInterstitial();" ui-sref="splash" ui-sref-opts="{reload: true}"><img src="img/exit.png"></i></button>
  </div>
  
<!--   <div class="bar-center">
    
  </div> -->
 
</div>